.menu_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 18vh;
    background-color: white;
    font-size: 40px;

}

.menu_container th button{
    background-color: transparent;
    border: none;
    color: #083540;
    font-size: 40px;
    margin-left: 10px;

    cursor: pointer;
}